.nav{
    height: 80px;
}

.row{
    display: flex;
    flex-direction: row;
}

.row-centered{
    justify-content: center;
    align-items: center;
}

.content-container{
    width: 1120px;
}

#app-logo{
    height: 40px;
    margin-right: 16px;
}

.content-container{

}

#app-title{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 28px;
    color: #173a56;
}

.nav-bar-wrapper{
    width: 100%;
    justify-content: space-between;
}

.nav-links-container > a{
    text-decoration: none;
    font-family: Poppins , sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #22343d;
    margin: 0 10px;
}

.primary-button{
    background: #02897A;    
    border-radius: 4px;
    height: 43px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 0 23px;

}

.button-outlined{
    background-color: white;
    color: #173A56;
    border: 1px solid #BCD0E5;
}

.buttons-nav{
    margin: 0 12px;
}

.switch-theme-button{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #F3F3F3;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}