.nav{
    height: 80px;
}

.row{
    display: flex;
    flex-direction: row;
}

.row-centered{
    justify-content: center;
    align-items: center;
}

.content-container{
    width: 1120px;
}

#app-logo{
    height: 40px;
    margin-right: 16px;
}

.content-container{

}

#app-title{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 28px;
    color: #173a56;
}

.nav-bar-wrapper{
    width: 100%;
    justify-content: space-between;
}

.nav-links-container > a{
    text-decoration: none;
    font-family: "Poppins" , sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #22343d;
    margin: 0 10px;
}

.primary-button{
    background: #02897A;    
    border-radius: 4px;
    height: 43px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 0 23px;

}

.button-outlined{
    background-color: white;
    color: #173A56;
    border: 1px solid #BCD0E5;
}

.buttons-nav{
    margin: 0 12px;
}

.switch-theme-button{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #F3F3F3;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 420px;
    opacity: 1;
    top: 105px;
    left: 159px;
    color: #141414;
    margin: auto;
}

.text-container{
    width: 480px;
    height: 320px;
    opacity: 1;
    top: 225px;
    left: 159px;
}

.container-h3{
    width: 480px;
    height: 120;
    opacity: 1;
    top: 225px;
    left: 159px;
    font-family: "Poppins", sans-serif;
    font-weight: 700px;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0px;
    color: #22343D;
}

.img-social-media{
    width: 450px;
    height: 555.7240600585938;
    opacity: 1;
    top: 105px;
    left: 650px;
    border-width: 1px;
    color: #141414;
}

.container-span{
    width: 458;
    height: 95;
    opacity: 1;
    top: 363px;
    left: 159px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #22343D;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 53px;
    opacity: 1;
    border-radius: 4px;
}

.second-button{
    background-color: white;
    color: #02897A;
    border: none;
    cursor: pointer;
}

.align-buttons{
    display: flex;
    align-items: center;
    gap: 20px;
}

.second-container{
    width: 2000px;
    height: 540px;
}

.title-product{
    display: flex;
    align-items: center;
    justify-content: center;
    left: 845px;
    opacity: 1;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
}

.card-container{
    width: 1095px;
    height: 204px;
    top: 162px;
    left: 553px;
    opacity: 1;
}
.card{
    width: 240;
    height: 204;
    top: 162px;
    left: 1408px;
    opacity: 1;
}

.card-img{
    width: 50px;
    height: 50px;
    top: 162px;
    left: 1408px;
    opacity: 1;
}

.bold-text{
    width: 192px;
    height: 33px;
    opacity: 1;
    font-family:"Poppins",sans-serif;
    font-weight: 800px;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #22343D;
}

.p-text{
    width: 240px;
    height: 78px;
    top: 46px;
    opacity: 1;
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #22343D;
}